.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.vscode/
database/*.db
dataset/processed/
dataset/raw_videos/
dataset/external_videos/
models/*.keras
models/*.h5
models/*.pkl
*.mp4
*.log
.DS_Store
.ipynb_checkpoints/
