# Copy file nay thanh config/email_otp.local.config va dien thong tin SMTP.
# File local da duoc .gitignore de khong dua mat khau email len Git.
#
# Dinh dang XML-style:
# <add key="fromEmail" value="your_email@gmail.com" />
# <add key="password" value="your_gmail_app_password" />
#
# Tuy chon:
# <add key="smtpHost" value="smtp.gmail.com" />
# <add key="smtpPort" value="587" />
# <add key="useTls" value="true" />
